<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-link" routerLink="/indicadores">Lista de Indicadores</a>
              <a class="nav-link" routerLink="/mediciones">Lista de Mediciones</a>
          </div>
      </div>
  </div>
</nav>
